<% if !flash.nil? %>
	<% if flash[:notice] %>
		<div data-alert class='alert-box radius success'>
			<h5 class="alert-heading">Success!</h5>
			<%= flash[:notice] %>
			<a href="#" class="close">&times;</a>
		</div>
	<% end %>

	<% if flash[:error] %>
		<div data-alert class='alert-box radius alert'>
			<h5 class="alert-heading">Error!</h5>
			<%= flash[:error] %>
			<a href="#" class="close">&times;</a>
		</div>
	<% end %>

	<% if flash[:alert] %>
		<div data-alert class="alert-box radius warning">
			<h5 class="alert-heading">Warning!</h5>
			<%= flash[:alert] %>
			<a href="#" class="close">&times;</a>
		</div>
	<% end %>

	<!-- Clear the flash values once they have been displayed -->
	<% flash[:error] = flash[:alert] = flash[:notice] = nil %>
<% end %>

