

  <div class="Format-Header">
    <%= image_tag("music.jpeg", :alt => "rss feed", class: "img-responsive") %>
  <h1><%= title %></h1>
 <blockquote>
  <p class="bottom-buffer">
    <%= description.html_safe %>
  </p>
</blockquote>
</div>

<%= render 'shared/flash', flash: flash %>
